
.DS_Store
gesSchoolApp/.DS_Store
gesSchoolApp/src/.DS_Store
gesSchoolApp/src/com/.DS_Store
gesSchoolApp/src/com/gesschoolapp/.DS_Store
gesSchoolApp/src/com/gesschoolapp/resources/.DS_Store
gesSchoolApp/storage/actions/actions.ser
*.ser
gesSchoolApp/.env
*.pdf
gesSchoolApp/storage/bulletins/AZIMARI TOURE_Ikbal_bulletin_semestre_2.pdf
